@media (min-width: 768px) {
    .guid-line-item-one {
        clip-path: polygon(90% 0, 100% 50%, 90% 100%, 0 100%, 10% 50%, 0 0);
    }
    .guid-line-item-two {
        clip-path: polygon(100% 0, 90% 50%, 100% 100%, 10% 100%, 0 50%, 10% 0);
    }
}
.text-shadow{
    text-shadow: 0px 0px 2px black;
}